<html lang="es">
  <head>
    <link rel="stylesheet" href="style.css">  
    <meta charset="UTF-8"/>
    <title>Vertical timeline intervals</title>
  </head>
  <body>
    <div class="container">
      <ul>
{% for _, t in times_dict.items()                                                           %}
        <li>
          <div>
            <div class="title">{{t[0]}} - {{t[1]}} {{t[2]}}</div>
            <div class="info"></div>
            <div class="type"></div>
          </div><span class="number"><span>{{ t[3] }}</span><span>{{ t[4] }}</span></span>
        </li>
{% endfor                                                                                 %}        
      </ul>
    </div>
  </body>
</html>

{# .container ul li:not(:first-child) #}